
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container justify-content-center">

    <div class="row">
        <img src="{% static 'img/visa-application-composition.jpg' %}" style="opacity: 0.3;position:relative;display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;" >
        <p></p>
        <br>
        <br>
        <br>
        <h2 style="position:absolute;font-size:3cap;margin-left:-40px;margin-top:20%;text-align: center;" >
            <b><span style="color:rgb(245, 56, 56);">NJARI IMMIGRATION Inc.,</span> Cabinet de consultance en immigration et en citoyenneté canadienne</b></h2>  
    </div>
    <br>
    <p></p>
    <p></p>
    <p></p>
    <br>
    <br>
    
    <div class="row">
        <div class="container">
            <p style="font-size: 2.5cap;font-family:'Times New Roman', Times, serif;text-align: center;"><b>Que ce soit <span style="color: rgb(220, 100, 100);"><u>un cabinet d’avocats en immigration</u></span> ou <span style="color: rgb(220, 100, 100);"><u>un cabinet de Consultants en immigration</u></span>, il est important que le Professionnel en immigration soit légalement autorisé à le faire.
Sauf exception expressément autorisée par la loi sur l’immigration et la protection des réfugiés, seuls <span style="color: rgb(220, 100, 100);"><u>les Consultants en immigration canadienne</u></span> (membres du Collège des Consultants en immigration et en citoyenneté) ; <span style="color: rgb(220, 100, 100);"><u>les Avocats du Canada</u></span> et <span style="color: rgb(220, 100, 100);"><u>les Notaires de la Chambre des Notaires du Québec</u></span> ont le droit de représenter les Consommateurs des services de l’immigration canadienne et être rémunérés en contrepartie des services rendus. 
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p></p>
    <div class="row">
        <img src="{% static 'img/city_view.jpg' %}" alt="" style="width:100%;">
    </div>
    <p></p>
    <br>
    <br>
    <br>
    <br>
    <div class="card mb-4" style="border:none;">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid rounded-start" src="{% static 'img/outdoor-flag.jpg' %}" alt="flag-canada" style="width:500px;opacity: 0.8;">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="color:rgb(79, 79, 233)">
                    <h2 class="card-title" style="color:rgb(245, 56, 56);">Brève Biographie du Consultant</h2>
                    <p class="card-text" style="font-size: 2cap;"><span style="font-size: 2cap; color: rgb(242, 136, 136);font-family: 'Times New Roman', Times, serif;"><b>JEAN NJARI</b></span> est un Consultant Réglementé en immigration canadienne-CISR ; membre du Collège des Consultants en immigration et en citoyenneté Canada (No. de membre : R731293). 
                Détenteur d’un Diplôme de Baccalauréat en Philosophie du Grand Séminaire de Bujumbura (2009) et d’un Diplôme de Licence en Droit de l’Université du Burundi (2014), Burundi ; JEAN NJARI a poursuivi ses études de Maîtrise en Droit des Migrations et des Réfugiés à University of Dar-es-salaam (Tanzanie), avant de se spécialiser Droit de l’immigration et de la citoyenneté canadiennes, au deuxième cycle de la Faculté de Droit de l’Université de Montréal, Canada.</p>
                </div>
            </div>
        </div>
    </div>
    <p></p>
</div>

{% endblock %}