{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1 style="color: rgb(245, 56, 56);text-align: center;">Contactez-nous</h1>
<br>
<br>
<br>
<br>
<br>
<div class="container" >
        <img src="{% static 'img/Jean_Pic.png' %}" alt="" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;">
    
    <div class="row " style="margin: 20px;">
        <h3 style="color:rgb(245, 56, 56);text-align: center;">Jean Njari</h3>
        <br>
        <p style="font-size: 1.5cap;padding:40px; background-color:rgb(236, 231, 245)"><b> Adresse physique : 1975 Rue de Grandville, Bureau no.1, Québec city, G1J1V6, Canada
            Courriel : <span style="color: rgb(237, 112, 112);"><a href="gmail.com">jean@njari-immigration.ca</a></span> OU <span style="color: rgb(237, 112, 112);"><a href="gmail.com">jeanjari1983@gmail.com</a></span>
            Tel (WhatsApp) : <a href="tel:+1 514 210 3279" alt="Call +1 514 210 3279">+1 514 210 3279</a></b></p>
    </div>
</div>
{% endblock %}