{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<h1 style="color: rgb(245, 56, 56);text-align: center;">Notre équipe </h1>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- 1st consultant -->

<div class="container-fluid">

    <h2 style="color: rgb(245, 56, 56)">Au Canada,</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="margin:50px;">
        <div class="col-md-6">
            <img src="{% static 'img/Jean_Pic.png' %}" alt="" style="padding:50px;width: 80%;margin-top:-25%;">
        </div>
        <div class="col-md-6">
            <h3 style="color: rgb(245, 56, 56)">Jean Njari</h3>
            <br>
            <p style="font-size: 1.5cap;padding:40px; background-color:rgb(236, 231, 245)"><b>Consultant Règlementé en Immigration Canadienne - CRIC-CISR # R731293
                Fondateur et Directeur Général de « NJARI IMMIGRATION Inc. », cabinet de consultance en immigration canadienne. 
                Membre du Collège des Consultants en Immigration et en citoyenneté du Canada. 
                <span style="color: rgb(237, 112, 112);"><a href="gmail.com">jean@njari-immigration.ca</a></span> OU <span style="color: rgb(237, 112, 112);"><a href="gmail.com">jeanjari1983@gmail.com</a></span>
                Tel (WhatsApp) : <a href="tel:+1 514 210 3279" alt="Call +1 514 210 3279">+1 514 210 3279</a></b></p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <h2 style="color: rgb(245, 56, 56)">Au Burundi,</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 2nd consultant -->
    <div class="row" style="margin:50px;">
        <div class="col-md-6">
            <img src="{% static 'img/Edouard Ntirenganya1 - photo.jpg' %}" alt="" style="padding:50px;width: 80%;margin-top:-25%;">
        </div>
        <div class="col-md-6">
            <h3 style="color: rgb(245, 56, 56)">Edouard Ntirenganya</h3>
            <br>
            <p style="font-size: 1.5cap;padding:40px; background-color:rgb(236, 231, 245)"><b>Baccalauréat en Management des Organisations, option Assistant de Direction
                Université du Burundi
                Bujumbura, Burundi 
                Courriel: <span style="color: rgb(237, 112, 112);"><a href="gmail.com">edouard@njari-immigration.ca</a></span> Tel (WhatsApp) : <a href="tel:+257 61 626 073" alt="Call +257 61 626 073">+257 61 626 073</a></b></p>
        </div>
    </div>

    <br>
    <br>
    <br>

    <!-- 3rd consultant -->
    <div class="row" style="margin:50px;">
        <div class="col-md-6">
            <img src="{% static 'img/Denise_Dushimirimana.jpg' %}" alt="" style="padding:50px;width: 80%;margin-top:-25%;">
        </div>
        <div class="col-md-6">
            <h3 style="color: rgb(245, 56, 56)">Denise Dushimirimana</h3>
            <br>
            <p style="font-size: 1.5cap;padding:40px; background-color:rgb(236, 231, 245)"><b>Baccalauréat en Administration et Gestion des Affaires
                Université des Grands Lacs (UGL)
                Bujumbura, Burundi 
                <span style="color: rgb(237, 112, 112);"><a href="gmail.com">denise@njari-immigration.ca</a></span>
                Tel (WhatsApp) : <a href="tel:+257 61 427 481" alt="Call +257 61 427 481">+257 61 427 481</a></b></p>
        </div>
    </div>
</div>
{% endblock %}