{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container justify-content-center">
    <h1 style="color: rgb(245, 56, 56);text-align: center;">Qui sommes-nous ?</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: 1.5cap;padding:40px; background-color:rgb(236, 231, 245)"><b><span><font style="color: rgb(209, 104, 104);">NJARI IMMIGRATION Inc.</font></span> est un cabinet de consultance en immigration et en citoyennetee Canada, enregistré sous le numéro 1554587-1 par Corporations Canada en vertu de la Loi canadienne sur les sociétés par actions. Cette entreprise a été créé initialement au Canada par Monsieur JEAN avec un objectif précis :  rendre les services ou conseils de l’immigration canadienne le plus accessible possible au public tout en fixant des prix raisonnables et abordables. 
                Au Burundi, le même cabinet de consultance est enregistré sous le numéro d’Identification Fiscale (NIF) 4002493197 par l’Agence du Développement du Burundi (ADB).
                Contrairement aux autres cabinets, quand vous signer un contrat avec NJARI IMMIGRATION Inc. pour vous représenter devant les autorités provinciales et/ou fédérales de l’Immigration Canada, 
                nous vous garantissons que vous aurez la possibilité de parler directement avec le Directeur Général du Cabinet, Monsieur JEAN NJARI, et que votre dossier sera essentiellement préparé par lui-même.</b></p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/logo.png' %}" alt="" style="padding:50px">
        </div>
    </div>
    <div>

    </div>
</div>
{% endblock %}