{% extends 'base.html' %}

{% block content %}
<p>

</p>
<p>


</p>
<h1 style="color: rgb(245, 56, 56);text-align: center;">Services Offert </h1>
<br>
<br>
<br>
<p>

</p>
<div class="container-fluid">
<h3><b><span style="color: rgb(245, 56, 56);text-align: center;">Chez NJARI IMMIGRATION Inc.</span>, nous vous assistons sur diverses questions relatives à l’immigration au Canada. </b></h3>
</div>
<p>


</p>
<h4 style="color: rgb(245, 56, 56);text-align: center;">Demande de parrainage ou Regroupement Familial</h4>
<br>
<p>Que vous vous voudriez parrainer votre époux/épouse ; vos enfants biologiques ou adoptifs ; vos frères ; vos parents/grands-parents ; vos neveux/nièces ; ou tout autre membre de famille ;
     nous vous aidons à déterminer s’ils sont parrainables ou non, après quoi nous vous aidons à soumettre votre demande à Immigration Canada pour décision.</p>
<h4 style="color: rgb(245, 56, 56);text-align: center;">Demande de Permis d’études au Canada</h4>
<br>
<p>Nous vous accompagnons de A à Z dans la réalisation de votre projet d’études au Canada, y compris, le choix du programme d’études ; la demande d’admission à un Etablissement d’Enseignement Désigné (EED) ; la demande du CAQ (cas de la province du Québec) ; demande de Permis d’études proprement dite et guide pour voyager et atterrir tranquillement à l’un des aéroports internationaux du Canada. 
    Bien plus, nous pouvons demander des Permis de travail pour les époux/épouses des étudiants internationaux au Canada ; les permis d’études ou Visas de visiteur pour les enfants des étudiants internationaux. Ainsi,
     toute la famille se retrouve au Canada dans un délais plus ou moins raisonnable. </p>
<h4 style="color: rgb(245, 56, 56);text-align: center;">Demande de Visa de Visiteur</h4>
<br>
<p>Vous vous demandez comment obtenir un Visa canadien pour faire du tourisme au Canada ; rendre visite à vos membres de familles ; participer à une formation ou conférence internationale au Canada ou à une réunion de partenaires d’affaires dans le cadre de votre commerce ; 
    le cabinet NJARI Immigration Inc. vous assiste et vous représente dans toutes vos démarches d’obtention du Visa de Visiteur. </p>
<h4 style="color: rgb(245, 56, 56);text-align: center;">Demande d’asile au Canada</h4>
<br>
<p>Que vous arriviez au point d’entrée du Canada (aéroport, Port, frontière terrestre, etc.) ou que vous soyez déjà à l’intérieur du Canada, mais que vous êtes dans le besoin, le cabinet NJARI IMMIGRATION Inc. vous assiste et vous représente dans vos démarches de demande d’asile devant la Commission de l’Immigration et du Statut de Réfugié (CISR). 
    Note : La CISR est un tribunal administratif fédéral qui statue sur toutes les demandes d’asile faites au Canada. Il est très recommandé de ne pas soumettre une demande d’asile sans l’assistance d’un avocat en immigration ou d’un Consultant en immigration. 
    La moindre erreur que vous pouvez commettre au début de la procédure peut anéantir tout votre désir d’être protégé par le gouvernement du Canada contre votre persécuteur.</p>
<h4 style="color: rgb(245, 56, 56);text-align: center;">Demande de Résidence permanente</h4>
<br>
<p>En plus d’évaluer si vous remplissez les critères d’éligibilité, le cabinet NJARI IMMIGRATION Inc. vous assiste dans vos démarches de l’obtention la citoyenneté canadienne.</p>

{% endblock %}